.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.jumbotron{
    background-color: darkred;
    color: white;
    height: 800px;
    text-align: center;
    padding: 200px;
}

#bigAlStadium{
    position: relative;
    max-height: 300px;
}

.card{
    min-height: 100px;
    max-width: fit-content;
    padding: 5px;
}

.container {
    position: relative;
    width: 50%;
  }

  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .favbtn {
    position: relative;
    margin-bottom: -90;
    line-height: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(229, 215, 223);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .deletebtn {
    position: relative;
    margin-bottom: -90;
    line-height: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(229, 215, 223);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .container .favbtn:hover {
    background-color: blueviolet;
  }  
  .container .deletebtn:hover {
    background-color: blueviolet;
  }  
